body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgba(71, 69, 69, 0.521);

}

#group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grouped, .projects{
    background-color: rgb(55, 206, 123);
    border: 1px solid green;
    border-radius: 10px;
    
}
.projects {
    display: flex;
    justify-content: space-between;
}
#container {
    display: flex;
    flex: 1;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    background-color: rgba(27, 45, 39, 0.331);
}

#projects {
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.173);
}

button {
    height: 50px;
}


.projects:hover {
    background-color: #39c03e54;
}
.grouped.active {
    background-color: #20722354;
}

.view.active {
    background-color: red;
}